<nav class="navbar navbar-inverse">
  <div class="">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">The Baigan's</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a>About</a>
      </li>   
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a type="button" class="btn" data-target="#registerModal" data-toggle="modal">
          <span class="glyphicon glyphicon-user"></span> Register</a>
      </li>
      <li>
        <a type="button" class="btn" data-target="#loginModal" data-toggle="modal">
          <span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
    </ul>
  </div>
</nav>

<app-register></app-register>
<app-login></app-login>